header{
    padding: 20px;
    background-color:#143a80;
    color: #fff;
}
h1{
    text-align: center;
}

.div-header {
    flex-direction: row;
    padding: 5px;
    text-align: center;
    justify-content: center;    
}